name: testing

on:
  push:
    branches:
      - 'master'
      - 'v3.1.0'

jobs:
  build:
    strategy:
      matrix:
        targetplatform: [x86, x64]

    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Generate appsettings.<env>.json
      run: |
        cp src/PomodoroWindowsTimer.WpfClient/appsettings.Development.template.json src/PomodoroWindowsTimer.WpfClient/appsettings.Development.json
        cp src/PomodoroWindowsTimer.WpfClient/appsettings.Production.template.json src/PomodoroWindowsTimer.WpfClient/appsettings.Production.json

    - name: Build
      run: dotnet build --configuration Release
      env:
        NuGetPackageSourceCredentials_github: Username=${{ github.actor }};Password=${{ secrets.GITHUB_TOKEN }}

    - name: Test
      run: dotnet test --configuration Release --no-build
